<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.shop.mapper.ProductDAOMapper">
  <resultMap id="BaseResultMap" type="org.shop.model.dao.ProductDAO">
    <id column="id" jdbcType="CHAR" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="category" jdbcType="INTEGER" property="category" />
    <result column="brand" jdbcType="INTEGER" property="brand" />
    <result column="weight" jdbcType="INTEGER" property="weight" />
    <result column="sales" jdbcType="INTEGER" property="sales" />
    <result column="status" jdbcType="CHAR" property="status" />
    <result column="priority" jdbcType="INTEGER" property="priority" />
    <result column="thumbnail_img" jdbcType="VARCHAR" property="thumbnailImg" />
    <result column="standard_img" jdbcType="VARCHAR" property="standardImg" />
    <result column="created_time" jdbcType="TIMESTAMP" property="createdTime" />
    <result column="updated_time" jdbcType="TIMESTAMP" property="updatedTime" />
    <result column="subtitle" jdbcType="VARCHAR" property="subtitle" />
    <result column="description" jdbcType="VARCHAR" property="description" />
    <result column="item_No" jdbcType="VARCHAR" property="itemNo" />
    <result column="price" jdbcType="DECIMAL" property="price" />
    <result column="market_price" jdbcType="DECIMAL" property="marketPrice" />
    <result column="review_status" jdbcType="CHAR" property="reviewStatus" />
    <result column="suffix" jdbcType="VARCHAR" property="suffix" />
    <result column="specs" jdbcType="VARCHAR" property="specs" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="org.shop.model.dao.ProductDAO">
    <result column="detail" jdbcType="LONGVARCHAR" property="detail" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, name, category, brand, weight, sales, status, priority, thumbnail_img, standard_img, 
    created_time, updated_time, subtitle, description, item_No, price, market_price, 
    review_status, suffix, specs
  </sql>
  <sql id="Blob_Column_List">
    detail
  </sql>
  <select id="selectByExampleWithBLOBs" parameterType="org.shop.model.dao.ProductDAOExample" resultMap="ResultMapWithBLOBs">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from product
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByExample" parameterType="org.shop.model.dao.ProductDAOExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from product
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from product
    where id = #{id,jdbcType=CHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from product
    where id = #{id,jdbcType=CHAR}
  </delete>
  <delete id="deleteByExample" parameterType="org.shop.model.dao.ProductDAOExample">
    delete from product
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="org.shop.model.dao.ProductDAO">
    insert into product (id, name, category, 
      brand, weight, sales, 
      status, priority, thumbnail_img, 
      standard_img, created_time, updated_time, 
      subtitle, description, item_No, 
      price, market_price, review_status, 
      suffix, specs, detail
      )
    values (#{id,jdbcType=CHAR}, #{name,jdbcType=VARCHAR}, #{category,jdbcType=INTEGER}, 
      #{brand,jdbcType=INTEGER}, #{weight,jdbcType=INTEGER}, #{sales,jdbcType=INTEGER}, 
      #{status,jdbcType=CHAR}, #{priority,jdbcType=INTEGER}, #{thumbnailImg,jdbcType=VARCHAR}, 
      #{standardImg,jdbcType=VARCHAR}, #{createdTime,jdbcType=TIMESTAMP}, #{updatedTime,jdbcType=TIMESTAMP}, 
      #{subtitle,jdbcType=VARCHAR}, #{description,jdbcType=VARCHAR}, #{itemNo,jdbcType=VARCHAR}, 
      #{price,jdbcType=DECIMAL}, #{marketPrice,jdbcType=DECIMAL}, #{reviewStatus,jdbcType=CHAR}, 
      #{suffix,jdbcType=VARCHAR}, #{specs,jdbcType=VARCHAR}, #{detail,jdbcType=LONGVARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="org.shop.model.dao.ProductDAO">
    insert into product
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="category != null">
        category,
      </if>
      <if test="brand != null">
        brand,
      </if>
      <if test="weight != null">
        weight,
      </if>
      <if test="sales != null">
        sales,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="priority != null">
        priority,
      </if>
      <if test="thumbnailImg != null">
        thumbnail_img,
      </if>
      <if test="standardImg != null">
        standard_img,
      </if>
      <if test="createdTime != null">
        created_time,
      </if>
      <if test="updatedTime != null">
        updated_time,
      </if>
      <if test="subtitle != null">
        subtitle,
      </if>
      <if test="description != null">
        description,
      </if>
      <if test="itemNo != null">
        item_No,
      </if>
      <if test="price != null">
        price,
      </if>
      <if test="marketPrice != null">
        market_price,
      </if>
      <if test="reviewStatus != null">
        review_status,
      </if>
      <if test="suffix != null">
        suffix,
      </if>
      <if test="specs != null">
        specs,
      </if>
      <if test="detail != null">
        detail,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=CHAR},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="category != null">
        #{category,jdbcType=INTEGER},
      </if>
      <if test="brand != null">
        #{brand,jdbcType=INTEGER},
      </if>
      <if test="weight != null">
        #{weight,jdbcType=INTEGER},
      </if>
      <if test="sales != null">
        #{sales,jdbcType=INTEGER},
      </if>
      <if test="status != null">
        #{status,jdbcType=CHAR},
      </if>
      <if test="priority != null">
        #{priority,jdbcType=INTEGER},
      </if>
      <if test="thumbnailImg != null">
        #{thumbnailImg,jdbcType=VARCHAR},
      </if>
      <if test="standardImg != null">
        #{standardImg,jdbcType=VARCHAR},
      </if>
      <if test="createdTime != null">
        #{createdTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedTime != null">
        #{updatedTime,jdbcType=TIMESTAMP},
      </if>
      <if test="subtitle != null">
        #{subtitle,jdbcType=VARCHAR},
      </if>
      <if test="description != null">
        #{description,jdbcType=VARCHAR},
      </if>
      <if test="itemNo != null">
        #{itemNo,jdbcType=VARCHAR},
      </if>
      <if test="price != null">
        #{price,jdbcType=DECIMAL},
      </if>
      <if test="marketPrice != null">
        #{marketPrice,jdbcType=DECIMAL},
      </if>
      <if test="reviewStatus != null">
        #{reviewStatus,jdbcType=CHAR},
      </if>
      <if test="suffix != null">
        #{suffix,jdbcType=VARCHAR},
      </if>
      <if test="specs != null">
        #{specs,jdbcType=VARCHAR},
      </if>
      <if test="detail != null">
        #{detail,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="org.shop.model.dao.ProductDAOExample" resultType="java.lang.Long">
    select count(*) from product
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update product
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=CHAR},
      </if>
      <if test="record.name != null">
        name = #{record.name,jdbcType=VARCHAR},
      </if>
      <if test="record.category != null">
        category = #{record.category,jdbcType=INTEGER},
      </if>
      <if test="record.brand != null">
        brand = #{record.brand,jdbcType=INTEGER},
      </if>
      <if test="record.weight != null">
        weight = #{record.weight,jdbcType=INTEGER},
      </if>
      <if test="record.sales != null">
        sales = #{record.sales,jdbcType=INTEGER},
      </if>
      <if test="record.status != null">
        status = #{record.status,jdbcType=CHAR},
      </if>
      <if test="record.priority != null">
        priority = #{record.priority,jdbcType=INTEGER},
      </if>
      <if test="record.thumbnailImg != null">
        thumbnail_img = #{record.thumbnailImg,jdbcType=VARCHAR},
      </if>
      <if test="record.standardImg != null">
        standard_img = #{record.standardImg,jdbcType=VARCHAR},
      </if>
      <if test="record.createdTime != null">
        created_time = #{record.createdTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updatedTime != null">
        updated_time = #{record.updatedTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.subtitle != null">
        subtitle = #{record.subtitle,jdbcType=VARCHAR},
      </if>
      <if test="record.description != null">
        description = #{record.description,jdbcType=VARCHAR},
      </if>
      <if test="record.itemNo != null">
        item_No = #{record.itemNo,jdbcType=VARCHAR},
      </if>
      <if test="record.price != null">
        price = #{record.price,jdbcType=DECIMAL},
      </if>
      <if test="record.marketPrice != null">
        market_price = #{record.marketPrice,jdbcType=DECIMAL},
      </if>
      <if test="record.reviewStatus != null">
        review_status = #{record.reviewStatus,jdbcType=CHAR},
      </if>
      <if test="record.suffix != null">
        suffix = #{record.suffix,jdbcType=VARCHAR},
      </if>
      <if test="record.specs != null">
        specs = #{record.specs,jdbcType=VARCHAR},
      </if>
      <if test="record.detail != null">
        detail = #{record.detail,jdbcType=LONGVARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExampleWithBLOBs" parameterType="map">
    update product
    set id = #{record.id,jdbcType=CHAR},
      name = #{record.name,jdbcType=VARCHAR},
      category = #{record.category,jdbcType=INTEGER},
      brand = #{record.brand,jdbcType=INTEGER},
      weight = #{record.weight,jdbcType=INTEGER},
      sales = #{record.sales,jdbcType=INTEGER},
      status = #{record.status,jdbcType=CHAR},
      priority = #{record.priority,jdbcType=INTEGER},
      thumbnail_img = #{record.thumbnailImg,jdbcType=VARCHAR},
      standard_img = #{record.standardImg,jdbcType=VARCHAR},
      created_time = #{record.createdTime,jdbcType=TIMESTAMP},
      updated_time = #{record.updatedTime,jdbcType=TIMESTAMP},
      subtitle = #{record.subtitle,jdbcType=VARCHAR},
      description = #{record.description,jdbcType=VARCHAR},
      item_No = #{record.itemNo,jdbcType=VARCHAR},
      price = #{record.price,jdbcType=DECIMAL},
      market_price = #{record.marketPrice,jdbcType=DECIMAL},
      review_status = #{record.reviewStatus,jdbcType=CHAR},
      suffix = #{record.suffix,jdbcType=VARCHAR},
      specs = #{record.specs,jdbcType=VARCHAR},
      detail = #{record.detail,jdbcType=LONGVARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update product
    set id = #{record.id,jdbcType=CHAR},
      name = #{record.name,jdbcType=VARCHAR},
      category = #{record.category,jdbcType=INTEGER},
      brand = #{record.brand,jdbcType=INTEGER},
      weight = #{record.weight,jdbcType=INTEGER},
      sales = #{record.sales,jdbcType=INTEGER},
      status = #{record.status,jdbcType=CHAR},
      priority = #{record.priority,jdbcType=INTEGER},
      thumbnail_img = #{record.thumbnailImg,jdbcType=VARCHAR},
      standard_img = #{record.standardImg,jdbcType=VARCHAR},
      created_time = #{record.createdTime,jdbcType=TIMESTAMP},
      updated_time = #{record.updatedTime,jdbcType=TIMESTAMP},
      subtitle = #{record.subtitle,jdbcType=VARCHAR},
      description = #{record.description,jdbcType=VARCHAR},
      item_No = #{record.itemNo,jdbcType=VARCHAR},
      price = #{record.price,jdbcType=DECIMAL},
      market_price = #{record.marketPrice,jdbcType=DECIMAL},
      review_status = #{record.reviewStatus,jdbcType=CHAR},
      suffix = #{record.suffix,jdbcType=VARCHAR},
      specs = #{record.specs,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="org.shop.model.dao.ProductDAO">
    update product
    <set>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="category != null">
        category = #{category,jdbcType=INTEGER},
      </if>
      <if test="brand != null">
        brand = #{brand,jdbcType=INTEGER},
      </if>
      <if test="weight != null">
        weight = #{weight,jdbcType=INTEGER},
      </if>
      <if test="sales != null">
        sales = #{sales,jdbcType=INTEGER},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=CHAR},
      </if>
      <if test="priority != null">
        priority = #{priority,jdbcType=INTEGER},
      </if>
      <if test="thumbnailImg != null">
        thumbnail_img = #{thumbnailImg,jdbcType=VARCHAR},
      </if>
      <if test="standardImg != null">
        standard_img = #{standardImg,jdbcType=VARCHAR},
      </if>
      <if test="createdTime != null">
        created_time = #{createdTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedTime != null">
        updated_time = #{updatedTime,jdbcType=TIMESTAMP},
      </if>
      <if test="subtitle != null">
        subtitle = #{subtitle,jdbcType=VARCHAR},
      </if>
      <if test="description != null">
        description = #{description,jdbcType=VARCHAR},
      </if>
      <if test="itemNo != null">
        item_No = #{itemNo,jdbcType=VARCHAR},
      </if>
      <if test="price != null">
        price = #{price,jdbcType=DECIMAL},
      </if>
      <if test="marketPrice != null">
        market_price = #{marketPrice,jdbcType=DECIMAL},
      </if>
      <if test="reviewStatus != null">
        review_status = #{reviewStatus,jdbcType=CHAR},
      </if>
      <if test="suffix != null">
        suffix = #{suffix,jdbcType=VARCHAR},
      </if>
      <if test="specs != null">
        specs = #{specs,jdbcType=VARCHAR},
      </if>
      <if test="detail != null">
        detail = #{detail,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=CHAR}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="org.shop.model.dao.ProductDAO">
    update product
    set name = #{name,jdbcType=VARCHAR},
      category = #{category,jdbcType=INTEGER},
      brand = #{brand,jdbcType=INTEGER},
      weight = #{weight,jdbcType=INTEGER},
      sales = #{sales,jdbcType=INTEGER},
      status = #{status,jdbcType=CHAR},
      priority = #{priority,jdbcType=INTEGER},
      thumbnail_img = #{thumbnailImg,jdbcType=VARCHAR},
      standard_img = #{standardImg,jdbcType=VARCHAR},
      created_time = #{createdTime,jdbcType=TIMESTAMP},
      updated_time = #{updatedTime,jdbcType=TIMESTAMP},
      subtitle = #{subtitle,jdbcType=VARCHAR},
      description = #{description,jdbcType=VARCHAR},
      item_No = #{itemNo,jdbcType=VARCHAR},
      price = #{price,jdbcType=DECIMAL},
      market_price = #{marketPrice,jdbcType=DECIMAL},
      review_status = #{reviewStatus,jdbcType=CHAR},
      suffix = #{suffix,jdbcType=VARCHAR},
      specs = #{specs,jdbcType=VARCHAR},
      detail = #{detail,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=CHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="org.shop.model.dao.ProductDAO">
    update product
    set name = #{name,jdbcType=VARCHAR},
      category = #{category,jdbcType=INTEGER},
      brand = #{brand,jdbcType=INTEGER},
      weight = #{weight,jdbcType=INTEGER},
      sales = #{sales,jdbcType=INTEGER},
      status = #{status,jdbcType=CHAR},
      priority = #{priority,jdbcType=INTEGER},
      thumbnail_img = #{thumbnailImg,jdbcType=VARCHAR},
      standard_img = #{standardImg,jdbcType=VARCHAR},
      created_time = #{createdTime,jdbcType=TIMESTAMP},
      updated_time = #{updatedTime,jdbcType=TIMESTAMP},
      subtitle = #{subtitle,jdbcType=VARCHAR},
      description = #{description,jdbcType=VARCHAR},
      item_No = #{itemNo,jdbcType=VARCHAR},
      price = #{price,jdbcType=DECIMAL},
      market_price = #{marketPrice,jdbcType=DECIMAL},
      review_status = #{reviewStatus,jdbcType=CHAR},
      suffix = #{suffix,jdbcType=VARCHAR},
      specs = #{specs,jdbcType=VARCHAR}
    where id = #{id,jdbcType=CHAR}
  </update>
</mapper>